.app__header {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  background-color: #ccc;
  width: 100%;
  text-align: center;
}

.app__content {
  width: 100%;
  display: flex;
}
.content__wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.content-text {
  width: 600px;
  margin: 10px 10px;
  height: 100%;
  resize: none;
}
.content-tools {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c6f1e7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  box-sizing: content-box;

  // padding: 5px 0 0 5px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5 {
      margin-right: 10px;
    }
  }

  input[type='color'] {
    display: none;
  }
}
.content-field {
  z-index: 1;
  width: 100%;
  padding: 5px 0 0 5px;
  // transform: translate(50%, 50%);
  border: 1px solid #e9e2d0;

  min-height: 300px;
  box-sizing: border-box;
  background-color: #f0fff3;
  caret-color: #70acb1;

  &:focus {
    outline: none;
    border: 3px solid #70acb1;
    // border-top: none;

    padding: 3px 0 0 3px;
  }
}
.content__button {
  z-index: 1;
  height: 70px;
  width: 100%;
  background: #c6f1e7;

  cursor: pointer;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  &:hover {
    background-color: #70acb1;
    transition: background-color 0.5s;
  }
}

@keyframes showingField {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  70% {
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.content__formated {
  position: relative;
  margin-top: 20px;
  background-color: #fff;
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  animation: showingField 0.7s ease-in-out;
  &:hover {
    .content__button-copy {
      display: inline-block !important;
    }
  }
}
.content__button-copy {
  position: absolute;
  cursor: pointer;
  right: 80px;
  bottom: 60px;
  opacity: 0.5;
  font-size: 16px;
  .content__button {
    position: fixed;
  }
}

button {
  width: 50px;
  height: 20px;
}
